<style type="text/css">
    input, button {
        margin: 5px;
    }

    /*fromLeft*/
    .animated_div {
        width: 126px;
        height: 126px;
        background: #92B901;
        color: #ffffff;
        text-align: center;
        position: relative;
        padding: 20px 10px 0px 10px;
        animation: animated_div 5s 1 forwards;
        -moz-animation: animated_div 5s 1 forwards;
        -webkit-animation: animated_div 5s 1 forwards;
        -o-animation: animated_div 5s 1 forwards;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    @keyframes animated_div {
        0% {
            transform: rotate(0deg);
            left: 5%;
        }

        25% {
            transform: rotate(20deg);
            left: 5%;
        }

        50% {
            transform: rotate(0deg);
            left: 95%;
        }

        55% {
            transform: rotate(0deg);
            left: 95%;
        }

        70% {
            transform: rotate(0deg);
            left: 95%;
            background: #1ec7e6;
            /*background: #ff0000;*/
        }

        100% {
            transform: rotate(-360deg);
            left: calc(50% - 60px);
        }
    }

    @-webkit-keyframes animated_div {
        0% {
            -webkit-transform: rotate(0deg);
            left: 5%;
        }

        25% {
            -webkit-transform: rotate(20deg);
            left: 5%;
        }

        50% {
            -webkit-transform: rotate(0deg);
            left: 95%;
        }

        55% {
            -webkit-transform: rotate(0deg);
            left: 95%;
        }

        70% {
            -webkit-transform: rotate(0deg);
            left: 95%;
            background: #1ec7e6;
        }

        100% {
            -webkit-transform: rotate(-360deg);
            left: -webkit-calc(50% - 60px);
        }
    }

    @-moz-keyframes animated_div {
        0% {
            -moz-transform: rotate(0deg);
            left: 5%;
        }

        25% {
            -moz-transform: rotate(20deg);
            left: 5%;
        }

        50% {
            -moz-transform: rotate(0deg);
            left: 95%;
        }

        55% {
            -moz-transform: rotate(0deg);
            left: 95%;
        }

        70% {
            -moz-transform: rotate(0deg);
            left: 95%;
            background: #1ec7e6;
        }

        100% {
            -moz-transform: rotate(-360deg);
            left: -moz-calc(50% - 60px);
        }
    }
    /*End fromLeft*/

    /*fromRight*/
    .animated_divR {
        width: 126px;
        height: 126px;
        background: #92B901;
        color: #ffffff;
        text-align: center;
        position: relative;
        padding: 20px 10px 0px 10px;
        animation: animated_divR 5s 1 forwards;
        -moz-animation: animated_divR 5s 1 forwards;
        -webkit-animation: animated_divR 5s 1 forwards;
        -o-animation: animated_divR 5s 1 forwards;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    @keyframes animated_divR {
        0% {
            transform: rotate(0deg);
            left: 80%;
        }

        25% {
            transform: rotate(-20deg);
            left: 80%;
        }

        50% {
            transform: rotate(0deg);
            left: -9%;
        }

        55% {
            transform: rotate(0deg);
            left: -9%;
        }

        70% {
            transform: rotate(0deg);
            left: -9%;
            background: #1ec7e6;
        }

        100% {
            transform: rotate(360deg);
            left: calc(50% - 60px);
        }
    }

    @-webkit-keyframes animated_divR {
        0% {
            -webkit-transform: rotate(0deg);
            left: 80%;
        }

        25% {
            -webkit-transform: rotate(-20deg);
            left: 80%;
        }

        50% {
            -webkit-transform: rotate(0deg);
            left: -9%;
        }

        55% {
            -webkit-transform: rotate(0deg);
            left: -9%;
        }

        70% {
            -webkit-transform: rotate(0deg);
            left: -9%;
            background: #1ec7e6;
        }

        100% {
            -webkit-transform: rotate(360deg);
            left: -webkit-calc(50% - 60px);
        }
    }

    @-moz-keyframes animated_divR {
        0% {
            -moz-transform: rotate(0deg);
            left: 80%;
        }

        25% {
            -moz-transform: rotate(-20deg);
            left: 80%;
        }

        50% {
            -moz-transform: rotate(0deg);
            left: -9%;
        }

        55% {
            -moz-transform: rotate(0deg);
            left: -9%;
        }

        70% {
            -moz-transform: rotate(0deg);
            left: -9%;
            background: #1ec7e6;
        }

        100% {
            -moz-transform: rotate(360deg);
            left: -moz-calc(50% - 60px);
        }
    }
    /*End fromRight*/

    .centerModel {
        text-align: center;
        /*background-color: gray;*/
        position: relative;
        /*z-index: 1000;*/
        animation: modelFly 5s 1 forwards;
        -moz-animation: modelFly 5s 1 forwards;
        -webkit-animation: modelFly 5s 1 forwards;
        -o-animation: modelFly 5s 1 forwards;
    }

    #centerImg {
        width: 126px;
        height: 126px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0094ff;
        border-radius: 6px;
        background-image: url(../../Sources/imgs/c1.jpg);
        /*background-repeat:round;*/
        background-size: cover;

        transition: width 1s,height 1s,transform 1s,background-image 1s;
        -moz-transition: width 1s,height 1s,-moz-transform 1s,background-image 1s;
        -webkit-transition: width 1s,height 1s,-webkit-transform 1s,background-image 1s;
    }

    #centerFont {
        margin-top: 60px;
        /*background-color: #00ffff;*/
    }

    /*centerModel动画*/
    @keyframes modelFly {
        from {
            top: 100px;
            opacity: 0;
        }

        to {
            top: -120px;
            opacity: 1;
        }
    }

    @-moz-keyframes modelFly /* Firefox */
    {
        from {
            top: 100px;
            opacity: 0;
        }

        to {
            top: -120px;
            opacity: 1;
        }
    }

    @-webkit-keyframes modelFly /* Safari 和 Chrome */
    {
        from {
            top: 100px;
            opacity: 0;
        }

        to {
            top: -120px;
            opacity: 1;
        }
    }
    /*End centerModel动画*/

    /*centerImg动画*/
    #centerImg:hover {
        width: 200px;
        height: 200px;
        background-image: url(../../Sources/imgs/c2.jpg);
        transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }
    /*End centerImg动画*/

    /*全屏遮罩*/
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /*background: rgba(153,204,51,0.9);*/
        /*background: rgba(157,152,149,0.9);*/
        background: rgba(0,0,0,0.9);
    }
    /*End 全屏遮罩*/

    /*飘落动画*/

    @keyframes beautyRose {

        0% {
            bottom: 100%;
            opacity: 0;
        }

        50% {
            opacity: 1;
            transform: rotate(360deg);
        }

        /*75% {
            opacity: 1;
            transform: translate(10px,0px);
        }*/

        100% {
            transform: rotate(0deg) translate(20px,0px);
            opacity: 0;
            bottom: 0;
        }
    }

    @-webkit-keyframes beautyRose {

        0% {
            bottom: 100%;
            opacity: 0;
        }

        50% {
            opacity: 1;
            -webkit-transform: rotate(360deg);
        }

        /*75% {
            opacity: 1;
            -webkit-transform: translate(10px,0px);
        }*/

        100% {
            -webkit-transform: rotate(0deg) translate(20px,0px);
            opacity: 0;
            bottom: 0;
        }
    }

    @-moz-keyframes beautyRose {

        0% {
            bottom: 100%;
            opacity: 0;
        }

        50% {
            opacity: 1;
            -moz-transform: rotate(360deg);
        }

        /*75% {
            opacity: 1;
             -moz-transform: translate(10px,0px);
        }*/

        100% {
            -moz-transform: rotate(0deg) translate(20px,0px);
            opacity: 0;
            bottom: 0;
        }
    }

    .roll {
        position: absolute;
        opacity: 0;
        animation: beautyRose 5s;
        -webkit-animation: beautyRose 5s;
        -moz-animation: beautyRose 5s;
        -ms-animation: beautyRose 5s;
        -o-animation: beautyRose 5s;
        height: 36px;
    }
    .aRoseDiv {
        position: fixed;
    }
    /*End 飘落动画*/

</style>
<div ng-controller="dateCalcCtrl">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <h4 class="text-center">日期推算</h4>
            <input placeholder="输入开始日期（格式：2015-06-15）" ng-model="baseObj.beginDate" class="form-control" ng-init="baseObj.beginDate='2015-06-15'" />
            <input placeholder="增加的天数（负数表示向前推）" ng-model="baseObj.addDays" ng-init="baseObj.addDays='100'" class="form-control" />
            <button class="btn btn-block btn-info" ng-click="calc()">计算</button>
            <input placeholder="计算后日期" ng-model="baseObj.resultDay" class="form-control" />
        </div>
    </div>
    <div style="height:160px;"></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="" id="animated_div" ng-class="{true:'animated_div',false:''}[LROn]" ng-style="LRIsShow">
                <i class="fa fa-smile-o fa-2x"></i>
                <i class="fa fa-heart fa-5x"></i>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="" id="animated_divR" ng-class="{true:'animated_divR',false:''}[LROn]" ng-style="LRIsShow">
                <i class="fa fa-heart fa-5x"></i>
                <i class="fa fa-female fa-2x"></i>
            </div>
        </div>

        <div class="row" id="centerModel" ng-class="{true:'centerModel',false:''}[CenterOn]" ng-style="CenterIsShow">
            <div id="centerImg" class="centerImgHover">

            </div>
            <div id="centerFont">
                <h1>100天咯~我们要开心，幸福~(●'◡'●)</h1>
            </div>

        </div>

    </div>

    <div class="overlay" ng-style="overLay" id="roseZone">
        <!--<button class="btn btn-default" ng-click="openOverLay()">close</button>
        <button class="btn btn-default" ng-click="beginRose()">begin</button>-->
    </div>

</div>
