<style type="text/css">
    input, button {
        margin: 5px;
    }
</style>
<div ng-controller="dateCalcCtrl">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <h4 class="text-center">日期推算</h4>
            <input placeholder="输入开始日期（格式：2015-06-15）" ng-model="baseObj.beginDate" class="form-control" ng-init="baseObj.beginDate=''" />
            <input placeholder="增加的天数（负数表示向前推）" ng-model="baseObj.addDays" ng-init="baseObj.addDays=''" class="form-control" />
            <button class="btn btn-block btn-info" ng-click="calc()">计算</button>
            <input placeholder="计算后日期" ng-model="baseObj.resultDay" class="form-control" />
        </div>
    </div>

</div>
