<style type="text/css">
    #mainBody {
        /*position:fixed;
        width:100%;
        height:100%;
        margin:0 0 0 0;*/

        text-align:center;
        /*background-image: url('../Sources/imgs/mainBody.jpg');
        background-repeat:round;*/
    }
</style>
<div ng-controller="mainCtrl">
    <!--<div class="row">
        <h2 style="margin-left:12px;">你好！</h2>
        <div class="col-lg-6 bg-primary" style="padding-right:0px;">
            <p class="">Welcome to {{userName}}'s Home!</p>
            <input ng-model="userName" class="form-control" placeholder="输入些东西吧..." />
        </div>
    </div>

    <br />
    <button class="btn btn-info">我是按钮</button>-->
    <div class="row" id="mainBody">
        <h1>开发中,敬请期待...</h1>
    </div>
</div>
